<!-- *ngFor="let menuitem of menuitems" -->
<ion-header>
  <ion-toolbar color='light'>
    <ion-title slot="start">
      <ion-text class="text-smaller">Меню</ion-text>
    </ion-title>
    <ion-title slot="end">
      <ion-text class="text-accent-smaller">{{parentName}}</ion-text>
    </ion-title>
    <ion-thumbnail slot="end">
      <img src="../../../assets/logo.png">
    </ion-thumbnail>
  </ion-toolbar>

  <ion-searchbar (keyup.enter)="OnSearhLeave()" #search show-clear-button='always' debounce="10"
    showCancelButton="focus" placeholder="введите часть имени для поиска"
    (ionInput)=OnNameFilterInput($event.target.value)>
  </ion-searchbar>

</ion-header>

<ion-content>
  <ion-fab vertical="center" horizontal="end" slot="fixed">

    <ion-fab-button color='medium' class="fab" (click)="ActivateSearch()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color='medium' class="fab" (click)="OnBackClick()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color='medium' class="fab" (click)="OnHomeClick()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <ng-container *ngIf="menuitems$ | async as menuitems">
    <ion-virtual-scroll [items]="menuitems" approxItemHeight="70px" [trackBy]="trackByFn" [itemHeight]="itemHeightFn">

      <ion-item [detail]="menuitem.isFolder" class="w-100" slot="start" button *virtualItem="let menuitem" appDebounceClick
        (debounceClick)="ElementClicked(menuitem)" [disabled]="menuitem.isBlocked">
        <ion-label [color]="menuitem.isBlocked ? 'danger' : '' " class="ion-text-wrap">
          <ion-text>{{ menuitem.name }}</ion-text>
          <ion-text *ngIf="items[menuitem.id]" class="pl-4 text-smaller" color='success'>В заказе <ion-text
              class="text-accent">{{items[menuitem.id]}} </ion-text>
          </ion-text>
        </ion-label>

        <ng-container *ngIf="!menuitem.isFolder">
          <ion-note class="ml-0" slot="end">
            <ion-buttons>
              <ion-button debounceTime=50 appDebounceClick (debounceClick)=AddQountity(1,menuitem,$event) size='small'
                slot='icon-only'>
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
              <ion-button debounceTime=50 appDebounceClick (debounceClick)=AddQountity(-1,menuitem,$event) size='small'
                slot='icon-only'>
                <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-text>{{ menuitem.price }}</ion-text>
          </ion-note>
        </ng-container>

        <ion-note class="text-accent" color='medium' slot="start" *ngIf="menuitem.isFolder">
          <ion-icon name="folder"></ion-icon>
        </ion-note>
      </ion-item>
    </ion-virtual-scroll>
  </ng-container>
</ion-content>

<ion-footer>
  <cub-toolbar hidden="true" class="w-100 " (OnElementClicked)="OnLentaElementClicked($event)"
    (OnToolbarCommandClicked)="OnToolbarCommandClicked($event)">
  </cub-toolbar>

  <ion-toolbar color='light'>
    <ion-buttons slot="end">
      <ion-button (click)="ActivateSearch()" class="mr-5" slot="icon-only">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-nav-link router-direction='back'>
        <ion-button class="text-accent" size='large' expand='block' color='danger'>
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-nav-link>
      <ion-nav-link router-direction='back'>
        <ion-button class="text-accent" size='large' color='success'>
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-nav-link>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
