
  <ion-tabs >
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="reports">
        <ion-icon  [name]="!(isLoggedin$ | async) ? 'lock-closed-outline' : 'bar-chart-outline' "></ion-icon>
        <ion-label>Отчет</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="halls">
        <ion-icon  [name]="!(isLoggedin$ | async) ? 'lock-closed-outline' : 'apps-outline' "></ion-icon>
        <ion-label>Залы</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="block-app">
        <ion-icon  [name]="!(isLoggedin$ | async) ? 'lock-closed-outline' : 'lock-open-outline' "></ion-icon>
        
        <ion-label>Заблокировать</ion-label>
      </ion-tab-button>
  
     
    </ion-tab-bar>
  </ion-tabs>

