<ion-header >
  <ion-toolbar color='light'>
    <ion-title>Необработанные команды </ion-title>
    <ion-buttons slot="end"><ion-button (click)="Refresh()"><ion-icon slot="icon-only" name="refresh-outline"></ion-icon></ion-button> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let q of wievitems">
      <ion-list-header  *ngIf="!!q.isheader">
        <ion-label color='primary' class="ion-text-center">
          <div>
            <ion-text class="text-smaller">{{q.id}}</ion-text>
          </div>
          <div>
            <ion-text>{{q.waiter}} <ion-text> Зал {{q.hallid}}</ion-text> <ion-text> Стол {{q.table}}</ion-text></ion-text>
          </div>
        </ion-label>

      </ion-list-header>

    <ion-item-sliding *ngIf="!!!q.isheader">
      <ion-item  button  (click)="GoToOrder(q)">
        <ion-label> 
          <p><ion-text>{{q.command}}</ion-text></p>
          <p><ion-text>{{q.status}}</ion-text> </p>
        </ion-label>  
        <ion-note slot="end"> {{ q.version }} </ion-note>
        <!-- <ion-note slot="end"> {{q.commandParametr.orderid}}  </ion-note> -->
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="Clear(q)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color='light'>
    <ion-buttons slot="end">
      <ion-button (click)="Send()" class="text-accent" size='large' expand='block' > отправить на 1С </ion-button>
      <ion-button (click)="Cancel()" class="text-accent" size='large' expand='block' color='danger'>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="Save()" class="text-accent" size='large' color='success'>
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>



